img {
    width: 200px;
    height: 200px;
}

.home-pic {
    width: 100% !important;
}

.profile-pic-center{
    margin-top: 100px;
}

.profile-pic{
    margin-top: 100px;
}

.grid {
    background-color: #19111c;
}



