
.header-image {
    width: 100%;
    margin-bottom: 1em;
    margin-top: -25px;
    margin-top: 8px;
}

.home-grid {
    text-align: center;
}

.home-pic {
    width: 100% !important;
    text-align: center;
}

.list-wrapper {
    margin-left: 33%;
}

.links {
    margin-bottom: 1em;
}

