img {
    width: 200px;
    height: 200px;

}

.toast-grid {
     background-color: #19111c;
}

.toast-pic {
    margin-top: 50px;
    margin-bottom: 1em;
}

.home-pic {
    width: 100% !important;
    text-align: center;
}